.comp-score {
    display: flex;
    padding: 0;
    list-style-type: none;

    li {
        background: #eee;
        border-radius: 3px;
        padding: 4px 13px;
        margin: 2px;
        
        &.done {
            background: #00B22D;
        }
    }
}