$btn-size: 10px;

.addnew {
    background: transparent;
    color: #00B420;
    display: flex;
    align-items: center;
    border: 0;
    padding: 2px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;

    span {
        height: $btn-size;
        width: $btn-size;
        align-self: baseline;
        margin-right: 3px;
    }
}